name: Old - Deploy to Firebase Hosting

on:
    push:
        branches:
            - main
        paths:
            - "public/**"
            - "firebase.json"
            - ".firebaserc"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Deploy to Firebase
              uses: w9jds/firebase-action@master
              with:
                  args: deploy --only hosting:prod,hosting:test,hosting:old,hosting:backup --project cv-jcp
              env:
                  GCP_SA_KEY: ${{ secrets.GCLOUD_SERVICE_KEY }}
                  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
